In [89]:
file_path = r'/Users/teslim/OneDrive/13_world_gdp_data.xlsx'
import pandas as pd

In [90]:
df = pd.read_excel(file_path)

In [91]:
df.head()

,n,ISO,COUNTRY,INDICATOR,1950,1951,1952,1953,1954,1955,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Africa,DZA,Algeria,Real GDP,40781.7,41067.2,42902.4,43840.4,46409.6,47796.2,...,473808.3,491813.0,510010.1,526330.4,533699.1,540103.5,544424.3,517747.5,533279.9,549278.3
1,Africa,DZA,Algeria,Nominal GDP,4508.7,4862.1,5167.2,5344.1,5709.6,5979.6,...,407286.1,430668.2,451071.3,470170.8,485801.4,503376.2,516479.3,497091.5,533279.9,579518.5
2,Africa,DZA,Algeria,Employment,1744.0,1758.3,1776.7,1802.9,1795.5,1815.8,...,10788.0,10239.0,10594.0,10845.0,10858.0,11001.0,11140.9,10541.0,10779.3,11252.6
3,Africa,DZA,Algeria,Average Hours Worked,NaN,NaN,NaN,NaN,NaN,NaN,...,2230.0,2212.8,2195.5,2212.5,2176.3,2170.5,2159.7,2070.6,2100.7,2174.6
4,Africa,DZA,Algeria,Total Hours,NaN,NaN,NaN,NaN,NaN,NaN,...,24057.6,22656.5,23259.0,23994.2,23629.9,23878.0,24060.8,21826.2,22643.8,24469.3

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2128 entries, 0 to 2127
Data columns (total 77 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   n          2128 non-null   object
 1   ISO        2128 non-null   object
 2   COUNTRY    2128 non-null   object
 3   INDICATOR  2128 non-null   object
 4   1950       2128 non-null   float64
 5   1951       1464 non-null   float64
 6   1952       1473 non-null   float64
 7   1953       1480 non-null   float64
 8   1954       1480 non-null   float64
 9   1955       1480 non-null   float64
 10  1956       1480 non-null   float64
 11  1957       1480 non-null   float64
 12  1958       1480 non-null   float64
 13  1959       1480 non-null   float64
 14  1960       1480 non-null   float64
 15  1961       1480 non-null   float64
 16  1962       1480 non-null   float64
 17  1963       1480 non-null   float64
 18  1964       1483 non-null   float64
 19  1965       1484 non-null   float64
 20  1966       1484 non-null   float64
 21  1967       1484 non-null   float64
 22  1968       1484 non-null   float64
 23  1969       1484 non-null   float64
 24  1970       1652 non-null   float64
 25  1971       1792 non-null   float64
 26  1972       1792 non-null   float64
 27  1973       1792 non-null   float64
 28  1974       1792 non-null   float64
 29  1975       1792 non-null   float64
 30  1976       1792 non-null   float64
 31  1977       1792 non-null   float64
 32  1978       1792 non-null   float64
 33  1979       1792 non-null   float64
 34  1980       1795 non-null   float64
 35  1981       1799 non-null   float64
 36  1982       1800 non-null   float64
 37  1983       1800 non-null   float64
 38  1984       1800 non-null   float64
 39  1985       1800 non-null   float64
 40  1986       1803 non-null   float64
 41  1987       1807 non-null   float64
 42  1988       1808 non-null   float64
 43  1989       1808 non-null   float64
 44  1990       1817 non-null   float64
 45  1991       1823 non-null   float64
 46  1992       1827 non-null   float64
 47  1993       1834 non-null   float64
 48  1994       1839 non-null   float64
 49  1995       1867 non-null   float64
 50  1996       1876 non-null   float64
 51  1997       1876 non-null   float64
 52  1998       1876 non-null   float64
 53  1999       1876 non-null   float64
 54  2000       1876 non-null   float64
 55  2001       1879 non-null   float64
 56  2002       1880 non-null   float64
 57  2003       1880 non-null   float64
 58  2004       1880 non-null   float64
 59  2005       2066 non-null   float64
 60  2006       2128 non-null   float64
 61  2007       2128 non-null   float64
 62  2008       2128 non-null   float64
 63  2009       2128 non-null   float64
 64  2010       2128 non-null   float64
 65  2011       2128 non-null   float64
 66  2012       2128 non-null   float64
 67  2013       2128 non-null   float64
 68  2014       2128 non-null   float64
 69  2015       2128 non-null   float64
 70  2016       2128 non-null   float64
 71  2017       2128 non-null   float64
 72  2018       2128 non-null   float64
 73  2019       2128 non-null   float64
 74  2020       2128 non-null   float64
 75  2021       2128 non-null   float64
 76  2022       2128 non-null   float64
dtypes: float64(73), object(4)
memory usage: 1.3+ MB

In [116]:
df.isnull().sum()

n            0
ISO          0
COUNTRY      0
INDICATOR    0
1950         0
            ..
2018         0
2019         0
2020         0
2021         0
2022         0
Length: 77, dtype: int64

In [117]:
df['n'].value_counts()

n
Africa                                         528
Central and Eastern Europe and Central Asia    448
Western Europe                                 320
Asia                                           288
Latin America                                  256
Middle East                                    208
North America                                   48
Oceania                                         32
Name: count, dtype: int64

In [118]:
df.nunique()

n               8
ISO           133
COUNTRY       133
INDICATOR      16
1950          728
             ...
2018         1220
2019         1233
2020         1335
2021         1167
2022         1245
Length: 77, dtype: int64

In [119]:
df[1950].isnull().any()

np.False_

In [120]:
df[1950] =df[1950].fillna(0)
df[1950].isnull().any()

np.False_

In [121]:
df[1950].astype('category')

0       40781.7
1        4508.7
2        1744.0
3           0.0
4           0.0
         ...
2123        0.0
2124        0.0
2125        0.0
2126        0.0
2127        0.0
Name: 1950, Length: 2128, dtype: category
Categories (728, float64): [0.0, 1.0, 2.0, 4.0, ..., 765591.0, 777126.0, 2398775.0, 2711989.0]

In [101]:
df[1950].dtype

dtype('float64')

In [123]:
df[1950].rank(ascending=False)

0         88.0
1        393.0
2        572.0
3       1447.0
4       1447.0
         ...
2123    1447.0
2124    1447.0
2125    1447.0
2126    1447.0
2127    1447.0
Name: 1950, Length: 2128, dtype: float64